html {
  scrollbar-width: none;
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body::-webkit-scrollbar{
  display: none;
}

.bgimage{
  background: url(images/real_bg4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;

  width: 100%;
  height: 100vh;
  z-index: -1;
  background-attachment: scroll;
}

.bgimage_works{
  background: url(images/real_bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;

  width: 100%;
  height: 100vh;
  z-index: -1;
  background-attachment: scroll;
}

.bgimage_index{
  background: url(images/real_bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;

  width: 100%;
  height: 100vh;
  z-index: -1;
  background-attachment: scroll;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

.imagewithtext{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.imgtext{
  margin: 0;
  padding: 0;
  float: left;
  color: #FF4747;
  font-size: calc(5px + 1vh);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.25em;
}

.responsive{
  width: 100%;
  height: auto;
  padding-bottom: 8vh;
}

.responsive2{
  width: calc(100% - (4.5vw - 4vh) * 2);
  height: auto;
  padding-bottom: 8vh;
}

.responsive3{
  width: calc(100% - (4.5vw - 4vh) * 2);
  height: auto;
}

.responsive4{
  width: 100%;
  height: auto;
}

.responsive_vert{
  max-height: 92vh;
  max-width: 100%;
  padding-bottom: 8vh;
  max-width: 100%;
}

.responsive_vert2{
  max-height: 108vh;
  max-width: 100%;
  padding-bottom: 8vh;
}

.responsive_vert3{
  max-height: 100vh;
  max-width: 100%;
  padding-bottom: 8vh;
  padding-top: 8vh;
}

.responsive_circle{
  max-height: 100vh;
  padding-bottom: 8vh;
  max-width: 100%;
  padding-top: 8vh;
}

.responsive_circle2{
  max-height: 84vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
  max-width: 84vh;
}

.doubles{
  max-width: 45vw;
  height: 100vh;
  position: relative;
}

.last{
  max-width: 45vw;
  height: 92vh;
  position: relative;
}

.responsive_double{
  width: 18vw;
  position: absolute;
  left: calc(22.5vw - 4vh - 18vw);
  top: 8vh;
}

.responsive_double2{
  width: 18vw;
  position: absolute;
  right: calc(22.5vw - 4vh - 18vw);
  top: 8vh;
}

.responsive_double3{
  width: 18vw;
  position: absolute;
  left: calc(22.5vw - 4vh - 18vw);
  top: calc(18vw + 16vh);
}

.responsive_double4{
  width: 18vw;
  position: absolute;
  right: calc(22.5vw - 4vh - 18vw);
  top: calc(18vw + 16vh);
}

.youtube{
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 8vh;
}

.images{
  width: 47%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.textcontainer{
  width: 43%;
  height: 100%;
  float: left;
  padding-top: 6vh;
}

.imagecontainer{
  width: 29%;
  position: relative;
  float: left;
  margin-bottom: calc(100%/25);
}

.imagecontainer2{
  width: 29%;
  position: relative;
  float: left;
  left: 6.5%;
  margin-bottom: calc(100%/25);
}

.imagecontainer3{
  width: 29%;
  position: relative;
  float: right;
  margin-bottom: calc(100%/25);
}

.images2{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.images2_topshape{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  filter: drop-shadow(0px 10px 0px #FF5D47);
  transition: .5s ease;
}

.images2_bottomshape{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  filter: drop-shadow(0px -10px 0px #FF5D47);
  transition: .5s ease;
}

.image_white1, .image_white2, .image_white3, .image_white4{
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.1;
  transition: .5s ease;
}

.image_black1, .image_black2, .image_black3, .image_black4{
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: .5s ease;
}

.overlaytext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.25vw;
  letter-spacing: 0.08em;
  color: white;
  opacity: 0;
  transition: .5s ease;
}

.overlaycircle {
  position: absolute;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.overlayshape1, .overlayshape2, .overlayshape3, .overlayshape4 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 1;
}



.imagecontainer:hover .overlaytext, .imagecontainer2:hover .overlaytext, .imagecontainer3:hover .overlaytext {
  opacity: 1;
}

.imagecontainer:hover .overlaycircle, .imagecontainer2:hover .overlaycircle, .imagecontainer3:hover .overlaycircle {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.imagecontainer:hover .image_white1, .imagecontainer:hover .image_white3, .imagecontainer3:hover .image_white2, .imagecontainer3:hover .image_white4 {
  opacity: 0;
}

.imagecontainer:hover .image_black1, .imagecontainer:hover .image_black3, .imagecontainer3:hover .image_black2, .imagecontainer3:hover .image_black4 {
  opacity: 0.3;
}



.imagecontainer:hover .images2_topshape, .imagecontainer3:hover .images2_topshape {
  filter: drop-shadow(0px 10px 0px #A6A5FF);
}

.imagecontainer:hover .images2_bottomshape, .imagecontainer3:hover .images2_bottomshape {
  filter: drop-shadow(0px -10px 0px #A6A5FF);
}



.home_ghost {
  width: 28.5vw;
  float: left;
}

.textcontainer2{
  width: 55vw;
  height: 100%;
  float: left;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}

.textcontainer2fixed{
  width: 55vw;
  height: 100%;
  float: left;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  position: fixed;
}

.textcontainer3{
  width: 45vw;
  height: 100%;
  float: left;
  margin-top: 5vh;
  position: fixed;
  padding-right: 5vw;
  transform: translateX(55vw);
}

.textcontainer4{
  width: 45vw;
  height: 100%;
  float: left;
  margin-top: 5vh;
  padding-right: 5vw;
  transform: translateX(55vw);
}

.home_fixed {
  width: 35vw;
  text-align: left;
  position: fixed;
  margin-top: 4vh;
  margin-left: 5vw;
}

.homesvg{
  width: 35%;
  filter: drop-shadow(0px 0px 6px #A6A5FF);
}

.homesvg2{
  width: 0%;
  filter: drop-shadow(0px 0px 6px #A6A5FF);
}

.backsvg{
  width: 20%;
  filter: drop-shadow(0px 0px 6px #A6A5FF);
}

.inkasvg{
  width: 100%;
  margin: 0;
  padding: 0px;
  filter: drop-shadow(0px 0px 6px #A6A5FF);
}

/*
.flowersvg{
  filter: invert(42%) sepia(16%) saturate(3987%) hue-rotate(325deg) brightness(100%) contrast(104%);
  width: 15%;
  margin: 0px;
}

<img src="images/flower-star.svg" class="flowersvg">
*/


.mytitle_home {
  font-family: 'Cormorant', serif;
  width: 48vw;
  float: left;
  margin-top: 6vh;
  line-height: 6vh;

  font-size: calc(15px + 0.6vw);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15em;
  position: relative;
  font-style: italic;

  --kukka1_width: 12vw;
  --kukka2_width: 10vw;
  --kukka3_width: 9vw; 
}

#homemenu1{
  width: 50%;
  position: relative;
  text-align: left;
  padding-top: 2vh;
}

#homemenu2{
  width: 50%;
  position: relative;
  text-align: right;
  left: 50%;
  top: -6vh;
}

#kukkakuva{
  position: relative;
  left: calc(50% - (var(--kukka1_width)/2));
  top: -8vh;
}

#kukkakuva2{
  position: relative;
  left: calc(50% - (var(--kukka2_width)/2));
  top: -5vh;
}

#kukkakuva3{
  position: relative;
  left: calc(50% - (var(--kukka3_width)/2));
  top: -2vh;
}

.menu1 {
  float: right;
  width: 15vw;
  text-align: right;
  margin-top: 4vh;
  padding-right: 5vw;
  position: fixed;
  transform: translateX(85vw);

  font-style: italic;
  font-size: calc(15px + 0.6vw);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 10px;
  color: #FFFFFF;
}

.projecttitle{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: calc(20px + 0.5vw);
  text-align: left;
  letter-spacing: 0.08em;
  color:  rgb(255, 255, 255);
  line-height: 1.1em;

  padding-bottom: 4vh;
  margin: 0;
}

.text {
  padding-bottom: 6vh;
  margin: 0px;

  font-size: calc(7px + 0.5vw);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  color: white;
}

.text_list {
  padding-bottom: 0vh;
  margin: 0px;

  font-size: calc(7px + 1vh);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  color: white;
}

ul.list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 6vh;
  list-style: inside;

  font-size: calc(7px + 1vh);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  color: white;
}

.kukkaimg1{
  width: var(--kukka1_width);
  position: absolute;
  opacity: 100;
}

.kukkaimg2{
  width: var(--kukka1_width);
  opacity: 100;
}

.kukkaimg1:hover{
  opacity: 0;
}

.kukkarotate{
  width: var(--kukka2_width);
}

.kukkarotate:hover{
  animation: rotation 3s infinite linear; 
}

.thirdflower{
  width: var(--kukka3_width);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.menulink{
  font-style: italic;
  font-size: calc(15px + 0.6vw);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 10px;
  color: #FFFFFF;
}

a.menulink:link{
  text-decoration: none;
  color: #FFFFFF;
}

a.menulink:visited{
  text-decoration: none;
  color: #FFFFFF;
}

a.menulink:hover{
  text-decoration: none;
  color: #FF4747;
}


a.menulink2:link{
  text-decoration: none;
  color: #FF4747;
}

a.menulink2:visited{
  text-decoration: none;
  color: #FF4747;
}

a.menulink2:hover{
  text-decoration: none;
  color: #FF4747;
}


a.homelink:link{
  text-decoration: none;
  color: #FF4747;
}

a.homelink:visited{
  text-decoration: none;
  color: #FF4747;
}

a.homelink:hover{
  text-decoration: none;
  color: black;
}

a.homelink:hover .homesvg {
  filter: invert(1) drop-shadow(0px 0px 6px #FF5D47);
}

a.homelink:hover .homesvg2 {
  filter: invert(1) drop-shadow(0px 0px 6px #FF5D47);
}

a.homelink:hover .backsvg {
  filter: invert(1) drop-shadow(0px 0px 6px #FF5D47);
}


a.imagelink:link{
  text-decoration: none;
  color:  white;
}

a.imagelink:visited{
  text-decoration: none;
  color:  white;
}

a.imagelink:hover{
  text-decoration: none;
  color:  white;
}


a.normallink:link{
  text-decoration: none;
  color:  white;
}

a.normallink:visited{
  text-decoration: none;
  color:  white;
}

a.normallink:hover{
  text-decoration: none;
  color: #FF4747;
}

.invisible{
  visibility: hidden;
}

@media screen and (max-width: 800px) and (orientation:portrait),
  screen and (max-width: 1000px) and (orientation:landscape){

  .bgimage{
    -webkit-background-size: auto 100vh;
    -moz-background-size: auto 100vh;
    -o-background-size: auto 100vh;
    background-size: auto 100vh;
  }

  .menu1 {
    width: 25%;
    padding-left: 0;
    padding-top: 2vh;
    padding-right: 10vw;
    transform: translateX(75vw) translateY(8em);
    position: fixed;

    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    line-height: 1vh;
    font-size: 4vw;  
  }

  .home_fixed {
    width: 25%;
    position: fixed;
    margin-top: 4vh;
    margin-left: 0;
    padding-right: 10vw;
    padding-left: 0;
    transform: translateX(75vw);
  }

  .homesvg{
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
  }

  .homesvg2{
    width: 100%;
    padding: 0;
    margin-top: -0.5em;
  }

  .textcontainer{
    width: 75%;
    height: 100vh;
    float: left;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 6vh;
    padding-bottom: 6vh;
    padding-top: 6vh;
  }
  
  .imagecontainer, .imagecontainer2, .imagecontainer3{
    width: 100%;
    position: relative;
    float: left;
    left: 0;
    margin-top: 0;
    margin-bottom: 5vh;
  }

  .overlaytext{
    font-size: 5vw;
  }

  .textcontainer2{
    width: 100vw;
    float: left;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    margin-top: 6vh;
  }
  
  .textcontainer2fixed{
    width: 100vw;
    height: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 6vh;
    padding-top: 6vh;
    position: static;
  }
  
  .textcontainer3{
    width: 100vw;
    float: left;
    margin-top: 0;
    position: static;
    padding-right: 10vw;
    padding-left: 10vw;
    text-align: left;
    transform: translateX(0vw);
  }
  
  .textcontainer4{
    width: 100vw;
    height: auto;
    margin-top: 0;
    padding-right: 10vw;
    padding-left: 10vw;
    transform: translateX(0vw);
  }

  .projecttitle{
    font-size: 6vw;
    padding-bottom: 4vh;
  }

  .backsvg{
    width: 40%;
    filter: drop-shadow(0px 0px 6px #A6A5FF);
  }

  .responsive, .responsive2, .responsive3, .responsive4, .responsive_circle, .responsive_vert{
    width: 100%;
    padding-bottom: 6vh;
    padding-top: 0;
  }

  .responsive_vert2{
    width: 100%;
    height: auto;
    padding-bottom: 6vh;
    padding-top: 0;
    max-height: none;
  }

  .responsive_vert3{
    width: 100%;
    max-height: auto;
    padding-bottom: 6vh;
    padding-top: 0;
    max-height: none;
  }

  .responsive_circle2{
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  .youtube{
    margin-bottom: 6vh;
  }

  .doubles{
    max-width: 100vw;
    height: auto;
  }
  
  .responsive_double, .responsive_double2, .responsive_double3, .responsive_double4{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    padding-bottom: 6vh;
  }

  .mytitle_home {
    width: 100%;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vw;
    margin-top: 0;
    font-size: 8vw;

    --kukka1_width: 34vw;
    --kukka2_width: 30vw;
    --kukka3_width: 28vw; 
  }

  #homemenu1{
    width: 50%;
    position: relative;
    text-align: left;
    float: left;
    padding-right: 10vw;
    margin-top: 0;
    padding-top: 0;
  }
  
  #homemenu2{
    width: 50%;
    position: relative;
    text-align: right;
    left: 0;
    float: left;
    padding-left: 10vw;
    margin-top: 0;
    padding-top: 0;
    top: 0;
  }

  .menulink{
    font-size: 4vw;
  }

  .text {
    font-size: 4vw;
    padding-bottom: 7vh;
    margin: 0;
  }

  .text_list {
    font-size: 4vw;
    margin: 0px;
    padding: 0;
  }
  
  ul.list {
    font-size: 4vw;
    padding: 0;
    margin-bottom: 6vh;
  }

  .home_ghost {
    width: 0vw;
    height: 0vh;
    float: left;
  }
  
  .kukkaimg1{
    width: var(--kukka1_width);
  }

  .kukkaimg2{
    width: var(--kukka1_width);
  }

  #kukkakuva{
    position: absolute;
    left: calc(50% - (var(--kukka1_width)/2));
    top: 17vh;
  }
  
  #kukkakuva2{
    position: absolute;
    left: calc(50% - (var(--kukka2_width)/2));
    top: 36vh;
  }
  
  #kukkakuva3{
    position: absolute;
    left: calc(50% - (var(--kukka3_width)/2));
    top: 59vh;
  }

  .overlaytext {
    opacity: 1;
    filter: drop-shadow(0px 0px 6px #A6A5FF);
  }

  .image_white1, .image_white2, .image_white3, .image_white4{
    opacity: 0;
  }
  
  .image_black1, .image_black2, .image_black3, .image_black4{
    opacity: 0.15;
  }
  
  .overlaycircle {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .imgtext{
    padding-top: 2px;
    padding-bottom: 0;
    font-size: calc(7px + 1vh);
  }
}
