html {
    background: url(images/laventeli12.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    scrollbar-width: none;
  }
  
  .responsive{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .images{
    width: 47%;
    padding-bottom: 5ex;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .titleblock{
    width: 100%;
    padding-top: 10px;
    margin-bottom: 75px;
  }
  
  .projecttitle{
    font-family: 'Opensans', serif;
    font-weight: 600;
    font-size: 2.5vw;
    text-align: left;
    letter-spacing: 4.5px;
    color:  rgb(255, 255, 255);
    width: 80%;
    float: left;
  }
  
  .icon{
    text-align: right;
    width: 20%;
    float: left;
  }
  
  .glyphicon-remove{
    color: rgb(235, 255, 148);
    font-size: 3.5vw;
  }
  
  .text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
    letter-spacing: 1.5px;
    line-height: 1.5;
  }
  
  .back{
    font-family: 'Opensans', serif;
    font-weight: 600;
    font-size: 2vw;
    letter-spacing: 4.5px;
    color: rgb(235, 255, 148);
    text-align: right;
  }
  
  .textcontainer{
    width: 100%;
    float: left;
  }
  
  .textblock{
    color: white;
    width: 60%;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
    margin: auto;
  }
  
  .mytitle {
    font-family: 'Playfair Display', serif;
    position: fixed;
    font-size: 4.5vw;
    font-weight: 800;
    color:  rgb(235, 255, 148);
    letter-spacing: 6px;
    float: left;
    width: 51%;
    padding-left: 25px;
    padding-top: 15px;
    transform: rotate(-90deg) translateY(-220%) translateX(-140px);
    /* filter: drop-shadow(0px 0px 7px rgb(172, 165, 221));
    font-weight: 800; */
  }

  .mytitle_ghost {
    float: left;
    width: 51%;
    padding-left: 25px;
    padding-top: 15px;
  }
  
  .menu1 {
    font-size: 2vw;
    float: left;
    width: 10%;
    text-align: center;
  }
  
  .menu2 {
    float: left;
    width: 23%;
    font-size: 2vw;
    text-align: center;
  }
  
  .menu3 {
    float: left;
    width: 10%;
    font-size: 2vw;
    text-align: center;
  }
  
  #menutext{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Opensans', serif;
    font-weight: 600;
    color: rgb(172, 165, 221);
    letter-spacing: 1.5px;
  }

  a.menulink:link{
    text-decoration: none;
  }

  a.menulink:visited{
    text-decoration: none;
    color: white;
  }

  a.menulink:hover{
    text-decoration: none;
    color: white;
  }

  a.homelink:link{
    text-decoration: none;
  }

  a.homelink:visited{
    text-decoration: none;
    color:  rgb(235, 255, 148);
  }

  a.homelink:hover{
    text-decoration: none;
  }
  
  @media screen and (max-width: 800px) {
  
    .menu1, .menu2, .menu3 {
      width: 100%;
      text-align: left;
      padding-left: 25px;
      font-size: 5vw;
      padding-top: 0px;
      padding-bottom: 0px;
      height: 4ex;
    }
  
    .mytitle {
      width: 100%;
      text-align: left;
      padding-left: 25px;
      font-size: 10vw;
      padding-top: 10px;
      padding-bottom: 10px;
      transform: rotate(0deg);
      height: 2.5ex;
      position: static;
    }

    .textcontainer{
      margin-top: 40px;
    }
  
    .textblock {
      width: 100%;
      text-align: left;
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .projecttitle{
      font-size: 8vw;
      text-align: left;
      height: 10ex;
    }
    
    .text {
      font-size: 5vw;
    }
  
    .images{
      width: 100%;
      float: left;
    }
  
    .glyphicon-remove{
      font-size: 9vw;
      height: 1.5ex;
    }
  
    .back{
      font-size: 7vw;
    }

    .mytitle_ghost {
      padding-top: 0px;
    }
  }