html {
    background: url(images/oikeabg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
  }
  
  
  .images{
    width: 47%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  



  .mytitle_home {
    font-family: 'Cormorant', serif;
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: 0.3em;
    float: left;
    width: 34%;
    margin-left: 4vw;
    margin-top: 3vw;

    background: radial-gradient(50.08% 2596.4% at 49.92% 50%, #FFD8B4 0%, #FF4747 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .mytitle_ghost {
    float: right;
    width: 35%;
    padding-left: 25px;
    padding-top: 15px;
  }
  
  .menu1 {
    float: right;
    width: 15%;
    text-align: right;
    margin-top: 3vw;
    margin-right: 5vw;

    font-size: 1.5vw;
    font-family: 'Raleway';
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.15em;
    line-height: 35px;
    padding-bottom: 1.5vw;
  }


  a.menulink:link{
    text-decoration: none;
    color: #FFFFFF;
  }

  a.menulink:visited{
    text-decoration: none;
    color: #FFFFFF;
  }

  a.menulink:hover{
    text-decoration: none;
    color: #FF4747;
  }
  
  
  @media screen and (max-width: 800px) {

    .menu1 {
      width: 100%;
      text-align: left;
      padding-left: 25px;
      padding-top: 10px;

      margin-top: 0vw;
      margin-right: 0vw;
      line-height: 4.5vw;
      font-size: 5vw;
    }
  
    .mytitle_home {
      width: 100%;
      text-align: left;
      padding-left: 25px;
      font-size: 8.5vw;
      padding-top: 25px;
      padding-bottom: 10px;
      margin-left: 0vw;
      margin-top: 0vw;
    }
  
    .textcontainer{
      margin-top: 40px;
    }
  
    .textblock {
      width: 100%;
      text-align: left;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 30px;
    }
  
    .projecttitle{
      font-size: 8vw;
      text-align: left;
      height: 10ex;
    }
    
    .text {
      font-size: 5vw;
    }
  
    .images{
      width: 100%;
      float: left;
    }
  
    .glyphicon-remove{
      font-size: 9vw;
      height: 1.5ex;
    }
  
    .back{
      font-size: 7vw;
    }
  }